#parte-superiore {font-size: 50px;
    padding-bottom: 20px;
    vertical-align: middle;
    line-height: 50px;

}

/*inizio tabella*/

#container{
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    width: auto;
    height: 1000px;
}


#quadrato-centrale{
    margin-top:70px;
    background-color: white;
    height: 900px;
    border-radius: 1%;

}

/*primi due bottoni*/

#primo-bottone{
    background-color: rgb(0, 204, 255);
    margin-left: 70px;
    margin-top: 25px;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
}

#secondo-bottone{
    color: grey;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 15px;
}

#linea{
    color: grey;
}

/*primi titoli in tabella con pulsanti adiacenti*/

#primo-titolo {
    margin-left: 70px;
    font-size: 35px;
    margin-top: 30px;
}

#titoli{
    margin-left: 70px;
}

#Editorial{
    background-color: rgb(0, 217, 255);
    color: white;
    border: none;
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 15px;


}

#secondo-titolo{

        margin-left: 70px;
        font-size: 35px;
        margin-top: 30px;
    }

    #q1{   background-color: rgb(153, 0, 255);
        color: white;
        border: none;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 15px;

    }

    #Recruiting{  background-color: rgb(55, 255, 0);
        color: white;
        border: none;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 15px;

    }

    #mobile{background-color: rgb(255, 149, 0);
        color: white;
        border: none;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 15px;


    }

    #terzo-titolo{
        margin-left: 70px;
        font-size: 35px;
        margin-top: 30px;
    }

    #website{background-color: rgb(255, 0, 174);
        color: white;
        border: none;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 15px;

    }

    #sales{background-color: rgb(0, 255, 51);
        color: white;
        border: none;
        margin-left: 10px;
        padding: 10px 10px;
        border-radius: 15px;


    }